pandas
requests
python-dotenv
praw
newsapi-python

#for sentiment analysis
transformers
torch
tqdm

#for embeddings
sentence-transformers

#for qdrant db
qdrant-client

#for elasticsearch db
elasticsearch

#for LangGraph + LLM
langgraph
langchain
langchain-core
langchain-google-genai

# Github steps:
# git status
# git add .
# git commit -m "Meaningful commit message"
# git push



# docker start zen_thompson
# docker start elasticsearch
# docker ps
# http://localhost:6333/dashboard

# docker rename zen_thompson qdrant
# docker start qdrant
# docker start elasticsearch