pandas
requests
python-dotenv
praw
newsapi-python

#for sentiment analysis
transformers
torch
tqdm

#for embeddings
sentence-transformers

#for qdrant db
qdrant-client







# Github steps:
# git status
# git add .
# git commit -m "Meaningful commit message"
# git push